<div class="row" *ngIf="loading">
  <div class="col-md-12">
    <p style="color: green">
      <img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
    </p>
  </div>
</div>
<app-alert></app-alert>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Sold Products</h3>
        <!--
        <ul class="panel-controls">
          <li><a href="javascript:void(0)" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
          <li><a href="javascript:void(0)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
        </ul>
        -->
      </div>
      <div class="panel-body">
        <table datatable class="table table-striped table-border table-hover">
          <thead>
          <tr>
            <th style="background: darkgray">SUMMARY</th>
            <th style="background: rgba(185,70,76,0.34)">Today</th>
            <th style="background: rgba(185,70,76,0.34)">All To-Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="background: #58f079"><b>Profits: </b></td>
            <td>{{ profits_today }}</td>
            <td>{{ profits_ever }}</td>
          </tr>
          <tr>
            <td style="background: #58f079"><b>Losses: </b></td>
            <td>{{ losses_today }}</td>
            <td>{{ losses_ever }}</td>
          </tr>
          </tbody>
        </table>

        <table datatable class="table table-striped table-border table-hover">
          <thead>
          <tr>
            <th>Product Name</th>
            <th>Date</th>
            <th>Qty.</th>
            <th>Price @</th>
            <th>Total Price</th>
            <th>Profit/Loss</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody *ngFor="let key of salesKeys">
          <tr><td colspan="6" style="color: blue;" > {{ key|date:'EEEE, dd MMMM yyyy' }}</td></tr>

          <tr *ngFor="let sale of sales[key]">
            <td>{{ sale.item_name }}</td>
            <td>{{ sale.sale_date }}</td>
            <td>{{ sale.sale_quantity }}</td>
            <td>{{ sale.sale_price }}</td>
            <td>{{ sale.total_price }}</td>
            <td>{{ sale.profit }}</td>
            <td>
              <button [disabled]="loading" (click)="deleteSale(sale)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
