
<div class="page-container page-navigation-top" *ngIf="isLoggedin && user!=null">
  <!-- PAGE CONTENT -->
  <div class="page-content">
    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal">
      <li class="xn-logo">
        <a>Kaderi Sales</a>
        <a class="x-navigation-control"></a>
      </li>
      <li class="xn-openable">
        <a routerLink="home" ><span class="fa fa-home"></span> <span class="xn-text">Home</span></a>
      </li>
      <li class="xn-openable" *ngIf="user.is_admin">
        <a routerLink="admin" ><span class="fa fa-cogs"></span> <span class="xn-text">Admin</span></a>
      </li>
      <!-- SIGN OUT -->
      <li class="pull-right" >
        <a class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span><span class="xn-text" >{{ user.first_name }} {{ user.last_name }}</span></a>
      </li>
      <!-- END SIGN OUT -->
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLinkActive="home">Main</a></li>
    </ul>
    <div class="page-title">
      <h2><span class="fa fa-arrow-circle-o-right"></span> {{ title }} </h2> ( {{ user.store_name }} )
    </div>

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

      <router-outlet></router-outlet>

    </div>
    <!-- PAGE CONTENT WRAPPER -->

  </div>
  <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- LOGOUT MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout" *ngIf="isLoggedin">
  <div class="mb-container">
    <div class="mb-middle">
      <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
      <div class="mb-content">
        <p>Are you sure you want to log out?</p>
        <p>Press No if you want to continue work. Press Yes to logout current user.</p>
      </div>
      <div class="mb-footer">
        <div class="pull-right">
          <a (click)="logout()" class="btn btn-success btn-lg">Yes</a>
          <button class="btn btn-default btn-lg mb-control-close">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END LOGOUT MESSAGE BOX-->

<app-login *ngIf="!isLoggedin || user == null" (loginEmmitter)="loginEmit($event)" ></app-login>
