<div class="row" *ngIf="loading">
  <div class="col-md-12">
    <p style="color: green">
      <img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes to database.. Please wait..
    </p>
  </div>
</div>
<app-alert></app-alert>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Complaints and Comments</h3>
        <!--
        <ul class="panel-controls">
          <li><a href="javascript:void(0)" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
          <li><a href="javascript:void(0)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
        </ul>
        -->
      </div>
      <div class="panel-body">
        <table datatable class="table table-striped table-border table-hover">
          <thead>
          <tr>
            <th>Comment</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comment of commentOutput">
            <td>{{ comment.comment }}</td>
            <td>{{ comment.comment_date }}</td>
            <td>
              <button (click)="deleteComment(comment)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
